body {
    font-family: "-apple-system";
    background-color: aliceblue;
}
h1, h2, h3, h4, h5, h6 {
    color: black;
}

header {
    padding: 10px;
    text-align: center;
    align-self: flex-start;
    background: #007aca;
    color: black;
}
